.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 equal-width columns */
  gap: 1rem;
  padding: 1rem;
}

/* Tablet: 2 columns */
@media (min-width: 640px) {
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium: 3 columns */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desktop: 4 columns */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow: hidden; /* prevents overflow when image scales */
  border-radius: 8px;
  transition: transform 0.3s ease
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* 👇 Hover effect: slight zoom + brighten */
.imageWrapper:hover .image {
  transform: scale(1.05);
  filter: brightness(1.2);
  box-shadow: 0 8px 20px hsla(53, 95%, 47%, 1.00);
}

/*progams grid*/
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 20px;
  justify-items: center;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.imageWrapper:hover .image {
  transform: scale(1.05);
}
